<!DOCTYPE html>
<html>
	<head>
		<title>Werewolf Facilitation Helper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
  		<span class="navbar-text">
    	Zoom Board Game Facilitation Helper
  		</span>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-sm">
          			<div class="form-group">
    					<label for="exampleFormControlTextarea1">Enter player names</label>
    					<textarea class="form-control" id="assign" rows="12"></textarea>
  					</div>
					<div class="row" id="submit">
						<button onclick="assign()" type="button" id="assign_button" class="btn btn-primary">Assign Player Numbers</button>
					</div>
					<div id="inputErrorRemind">
						<!-- placeholder for possible -->
					</div>
				</div>
				<div class="col-sm">
					<div class="col-sm">
						<h2>Seat Distribution</h2>
						<div id="seat-distribution-list">
							<ul id="seat_list">
							<!--li --><!--/li-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assign.js') }}"></script>
	</body>
</html>
